/* overrides Netflix displaypage-overview styles that affect the episodeBOB */
#displaypage-overview #displaypage-overview-details .episodeBOB .duration {color:#fff;}
#displaypage-overview #displaypage-overview-details .episodeBOB .synopsis {margin:0;}

#displaypage-overview #displaypage-overview-details .actions #randomBtn a.btn {
  background-color:#036;
  background-position:6px 8px;
  background-repeat:no-repeat;
  border:1px solid #aaa;
  padding-left:14px;
}

#displaypage-overview #displaypage-overview-details .actions .episodeBOB .progress-bar-wrapper {
  width:100%;
  margin:0;
  padding-left:0;
}
